<h1>セレブエンジニアカルテ</h1> <p><div align="center">所要時間３分</p></div>


　<p>プログラミングスキル</p>
  <p>現在の勉強法を続けたら市場価値の高いエンジニアになれると思う。
  <input type="radio" name="ch1" value="2">はい <input type="radio" name="ch1" value="1">どちらとも言えない
  <input type="radio" name="ch1" value="0">いいえ
  </p>
                                                                  
  <p>今後どのプログラム言語が流行するか熟知している。
  <td><input type="radio" name="ch2" value="2">はい
  <td><input type="radio" name="ch2" value="1">どちらとも言えない
  <td><input type="radio" name="ch2" value="0">いいえ
  </p>
  
  <p>勉強中に詰まってわからなくなった時に気軽に質問できる人がいる。
  <td><input type="radio" name="ch3" value=2>はい
  <td><input type="radio" name="ch3" value=1>どちらとも言えない
  <td><input type="radio" name="ch3" value=0>いいえ
  </p>
  
  <p>ググったらすぐに答えにたどり着ける自信がある。
  <td><input type="radio" name="ch4" value=2>はい
  <td><input type="radio" name="ch4" value=1>どちらとも言えない
  <td><input type="radio" name="ch4" value=0>いいえ
  </p>
  
  <p>今からフリーランスになれるまでの計画が完璧に立ててあるのであとはやるだけ。
  <td><input type="radio" name="ch5" value=2>はい
  <td><input type="radio" name="ch5" value=1>どちらとも言えない
  <td><input type="radio" name="ch5" value=0>いいえ
  </p>
  <br>
  
  <p>ポートフォリオ</p>
  <p>ポートフォリオを既に完成させている。
  <td><input type="radio" name="ch6" value=2>はい
  <td><input type="radio" name="ch6" value=1>どちらとも言えない
  <td><input type="radio" name="ch6" value=0>いいえ
  </p>
  
  <p>どんなポートフォリオを作ればフリーランスになれるのか知っている。
  <td><input type="radio" name="ch7" value=2>はい
  <td><input type="radio" name="ch7" value=1>どちらとも言えない
  <td><input type="radio" name="ch7" value=0>いいえ
  </p>
  
  <p>ポートフォリオを作る過程で気軽に質問できる人がいる。
  <td><input type="radio" name="ch8" value=2>はい
  <td><input type="radio" name="ch8" value=1>どちらとも言えない
  <td><input type="radio" name="ch8" value=0>いいえ
  </p>
  
  <p>ポートフォリオを１ヶ月で完成させる自信がある。
  <td><input type="radio" name="ch9" value=2>はい
  <td><input type="radio" name="ch9" value=1>どちらとも言えない
  <td><input type="radio" name="ch9" value=0>いいえ
  </p>
  
  <p>企業の人をアッと言わせるポートフォリオの作り方を知っている。
  <td><input type="radio" name="ch10" value=2>はい
  <td><input type="radio" name="ch10" value=1>どちらとも言えない
  <td><input type="radio" name="ch10" value=0>いいえ
  </p>
  <br>
  
  <p>スキルシート</p>
  <p>一般的にスキルシートに記載すべき項目が何か知っている。
  <td><input type="radio" name="ch11" value=2>はい
  <td><input type="radio" name="ch11" value=1>どちらとも言えない
  <td><input type="radio" name="ch11" value=0>いいえ
  </p>
  
  <p>自分のスキルシートを添削してくれる人（フリーランスエンジニア）がいる。
  <td><input type="radio" name="ch12" value=2>はい
  <td><input type="radio" name="ch12"value=1>どちらとも言えない
  <td><input type="radio" name="ch12" value=0>いいえ
  </p> 
  
  <p>スキルシートの内容は企業ウケする自信がある。
  <td><input type="radio" name="ch13" value=2>はい
  <td><input type="radio" name="ch13" value=1>どちらとも言えない
  <td><input type="radio" name="ch13" value=0>いいえ
  </p> 
  
  自分のスキルシートにはストーリー性がある。
  <td><input type="radio" name="ch14" value=2>はい
  <td><input type="radio" name="ch14" value=1>どちらとも言えない
  <td><input type="radio" name="ch14" value=0>いいえ
  <br>
  
  <p>どういうスキルシートを書けば高単価契約できるか知っている。
  <td><input type="radio" name="ch15" value=2>はい
  <td><input type="radio" name="ch15" value=1>どちらとも言えない
  <td><input type="radio" name="ch15" value=0>いいえ
  </p>
  <br>
     
  <p>面談スキル</p>
  <p>面談時に好感を持ってもらえる自己PRを５〜１０分以内で話せる。
  <td><input type="radio" name="ch16" value=2>はい
  <td><input type="radio" name="ch16" value=1>どちらとも言えない
  <td><input type="radio" name="ch16" value=0>いいえ
  </p>
  
  <p>自分のスキルシートで質問される箇所を熟知している。
  <td><input type="radio" name="ch17" value=2>はい
  <td><input type="radio" name="ch17" value=1>どちらとも言えない
  <td><input type="radio" name="ch17" value=0>いいえ
  </p>
  
  <p>ポートフォリオを効果的に見せて好感を持たれるプレゼンができる。
  <td><input type="radio" name="ch18" value=2>はい
  <td><input type="radio" name="ch18" value=1>どちらとも言えない
  <td><input type="radio" name="ch18" value=0>いいえ
  </p>
  
  <p>「逆に弊社や案件について質問はありますか？」に対して良い質問ができる。
  <td><input type="radio" name="ch19" value=2>はい
  <td><input type="radio" name="ch19" value=1>どちらとも言えない
  <td><input type="radio" name="ch19" value=0>いいえ
  </p>
  
  <p>自分の面談練習を指導してくれる人（フリーランスエンジニア）がいる。
  <td><input type="radio" name="ch20" value=2>はい
  <td><input type="radio" name="ch20" value=1>どちらとも言えない
  <td><input type="radio" name="ch20" value=0>いいえ
  </p>  
  <br>
  
  <p>営業力</p>
  <p>良い案件を見つける方法手段を知っている。
  <td><input type="radio" name="ch21" value=2>はい
  <td><input type="radio" name="ch21" value=1>どちらとも言えない
  <td><input type="radio" name="ch21" value=0>いいえ
  </p>
  
  <p>ブラック企業や案件を見破る判断基準を持っている。
  <td><input type="radio" name="ch22" value=2>はい
  <td><input type="radio" name="ch22" value=1>どちらとも言えない
  <td><input type="radio" name="ch22" value=0>いいえ
  </p>
  
  <p>自分の市場価値を正確に把握して営業することができる。
  <td><input type="radio" name="ch23" value=2>はい
  <td><input type="radio" name="ch23" value=1>どちらとも言えない
  <td><input type="radio" name="ch23"  value=0>いいえ
  </p>
  
  <p>営業との交渉で単価を上げる方法を知っている。
  <td><input type="radio" name="ch24" value=2>はい
  <td><input type="radio" name="ch24" value=1>どちらとも言えない
  <td><input type="radio" name="ch24" value=0>いいえ
  </p>
  
  <p>営業との単価交渉でのマナーを知っている。
  <td><input type="radio" name="ch25" value=2>はい
  <td><input type="radio" name="ch25" value=1>どちらとも言えない
  <td><input type="radio" name="ch25" value=0>いいえ
  </p>
  <br>  
  
  <p>マインド・自己評価</p>
  <p>1年以内に月収５０万円のフリーランスになれると思う。
  <td><input type="radio" name="ch26" value=2>はい
  <td><input type="radio" name="ch26" value=1>どちらとも言えない
  <td><input type="radio" name="ch26" value=0>いいえ
  </p>
  
  <p>今までの人生で人に誇れる成果を上げたことがある。
  <td><input type="radio" name="ch27" value=2>はい
  <td><input type="radio" name="ch27" value=1>どちらとも言えない
  <td><input type="radio" name="ch27" value=0>いいえ
  </p> 
  
  <p>自分が企業の人事なら自分自身を採用すると思う。
  <td><input type="radio" name="ch28" value=2>はい
  <td><input type="radio" name="ch28" value=1>どちらとも言えない
  <td><input type="radio" name="ch28" value=0>いいえ
  </p>
  
  <p>自分は運が良い方だと思う。
  <td><input type="radio" name="ch29" value=2>はい
  <td><input type="radio" name="ch29" value=1>どちらとも言えない
  <td><input type="radio" name="ch29" value=0>いいえ
  </p>
  
  <p>自分は将来もっと豊かに楽しく暮らしていると思う。
  <td><input type="radio" name="ch30" value=2>はい
  <td><input type="radio" name="ch30" value=1>どちらとも言えない
  <td><input type="radio" name="ch30" value=0>いいえ
  </p>
  
  <br>
  <div class="row">
  <div class="col-md-6 text-danger col-md-offset-3">
    <%= form_for(:session, url: help_path) do |f| %>
          <%= render 'shared/error_messages' %>

      <%= f.label :氏名 %>
      <%= f.text_field :name_1, class: 'form-control' %>

      <%= f.label :フリガナ %>
      <%= f.text_field :name_2, class: 'form-control' %>
      
      <%= f.label :"LINE ID" %>
      <%= f.text_field :LINE, class: 'form-control' %>
    <tr>    
    <br>
    <p>個別相談を
    <td><input type="radio" name="ch31" value=2>希望する
    <td><input type="radio" name="ch31" value=1>希望しない
    </p>
     </tr>  
    <br>
      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
    </div>
    
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
    <p><div align="right">
      <%= link_to "管理者ログイン", login_path %></p>
    <% end %>
    </div>